<div class="page-container">
  <div class="content">
    <h1>{{ 'Welcome to the WattsRight sustainability analysis dashboard' | uppercase }}</h1>
    <p>
      Donnec ullamcorper nulla non metus auctor fringilla. Aenean
      leo quam. Pellentesque ornare sem lacina quam venenatis
      vestibulum. Fusce dapibus, tellus ac cursus commodo
    </p>
    <div class="buttons">
      <button appButton [deeptrust]="true">Onboarding</button>
      <button appButton [fairbeige]="true" (click)="optimizeClick()">Start optimizing</button>
    </div>
  </div>
</div>
