@font-face {
  font-family: prompt;
  src: url(./fonts/prompt-extraBold.ttf) format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: prompt;
  src: url(./fonts/prompt.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: prompt;
  src: url(./fonts/prompt.ttf) format("truetype");
  font-weight: 500;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  background: unset;
  color: unset;
  font-size: 1rem;
  font-weight: unset;
  list-style: none;
  text-decoration: none;
}

html {
  max-height: 100%;
  height: 100%;
}

body {
  --primary: #00e7b2;
  --secondary: #0e1042;
  --tertiary: #f7f5e9;
  font-family: prompt;
  font-weight: 900;
  background: var(--primary);
  color: var(--secondary);
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: grid;
  place-content: center;
  height: 100%;
  padding: 0 1.5rem;
  gap: 1.875rem;
}

main img{
  justify-self: center;
  width: clamp(5rem, 5vw, 100%);
}

main > * {
  max-width: 40rem;
}

main > div {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1.125rem;
}

h1 {
  text-transform: uppercase;
  font-size: clamp(1.5rem, 2vw, 2rem);
  text-align: center;
}

p + div{
  margin-top: 1rem;
}

p {
  font-weight: 400;
}

button,
a.btn {
  font-size: clamp(1rem, 1.5vw, 1.125rem);
  background: var(--tertiary);
  padding: 1em 2em;
  border-radius: 2rem;
  text-transform: uppercase;
  display: inline-block;
}

button.invert,
a.btn.invert {
  background: var(--secondary);
  color: var(--tertiary);
}

footer {
  height: 3.125rem;
  width: 100%;
  background: var(--secondary);
  color: var(--tertiary);
  display: flex;
  justify-content: center;
}

header{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: clamp(1rem, 3vw, 3.125rem);
}

header img{
  width: clamp(7.5rem, 5vw, 100%);
}

footer > div, header > div {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer ul, header ul {
  display: flex;
  gap: 2rem;
  text-transform: capitalize;
}
